
# Godot
.godot/
.import/
exports/
export.cfg
exports/

# Godot: Mono-specific
.mono/
data_*/

# .NET Core
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs//.import
/.mono
/.vs
/.vscode
/addons
/client.exe
/client.console.exe
/client.pck
/dijkstra_map_gd.dll
/server.exe
/server.console.exe
/server.pck
/low-age-prototype-godot.zip
*.TMP
/data/config.json
/.idea/.idea.low-age-prototype-godot/.idea/.gitignore
/packages/

